h2 {
}

h3 {
  text-decoration: underline;
  text-align: center;
}

#background {
  height: 10240px;
  width: 1280px;
  margin: 0 auto;
  background-image: url("../images/wdraBackground02.png");

}

#parallax_layer1_stars01 {
    font-size: 90px;
    margin-top: 700px;
    margin-bottom: 800px;
    background-image: url("../images/wdraStar.png");
    background-size: 90% 80%;
    position: fixed;
    background-repeat: no-repeat;
    width: 95%;
    height: 95%;
    background-position: 60% 55%;
    pointer-events: none;
}

#parallax_layer1_stars02 {
    font-size: 60px;
    margin-top: 900px;
    margin-bottom: 8000px;
    background-image: url("../images/wdraStar.png");
    background-size: 150% 150%;
    position: fixed;
    background-repeat: no-repeat;
    width: 200%;
    height: 300%;
    background-position: 60% 55%;
    pointer-events: none;
}

#parallax_layer1_rocket {
    font-size: 60px;
    margin-top: 2500px;
    background-image: url("../images/wdraRocket02.png");
    position: fixed;
    background-repeat: no-repeat;
    width: 95%;
    height: 95%;
    background-position: 60% 56%;
    pointer-events: none;
}

#parallax_layer1_rocket {
    font-size: 60px;
    margin-top: 2500px;
    background-image: url("../images/wdraRocket02.png");
    position: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    width: 95%;
    height: 95%;
    background-position: 60% 56%;
    pointer-events: none;
}
#parallax_layer1_Satellite01 {
    font-size: 60px;
    margin-top: 5000px;
    background-image: url("../images/wdraSatellite01.png");
    position: fixed;
    background-repeat: no-repeat;
    width: 95%;
    height: 95%;
    background-position: 60% 50%;
    pointer-events: none;
}

#parallax_layer1_ShipThing {
    font-size: 20px;
    margin-top: 1500px;
    background-image: url("../images/wdraShipThing01.png");
    position: fixed;
    background-repeat: no-repeat;
    width: 95%;
    height: 95%;
    background-position: 60% 50%;
    pointer-events: none;
}

#parallax_layer2_4clouds {
    font-size: 20px;
    margin-top: 8000px;
    background-image: url("../images/4cloud.png");
    position: fixed;
    background-repeat: no-repeat;
    width: 95%;
    height: 95%;
    background-position: 60% 55%;
    pacity: .8;
    pointer-events: none;
}

#parallax_layer3_5clouds {
    font-size: 20px;
    margin-top: 9200px;
    background-image: url("../images/5cloud.png");
    position: fixed;
    background-repeat: no-repeat;
    width: 95%;
    height: 95%;
    opacity: .8;
    background-position: 30% 15%;
    pointer-events: none;
}

#parallax_layer3_6clouds {
    font-size: 20px;
    margin-top: 12000px;
    background-image: url("../images/6cloud.png");
    position: fixed;
    background-repeat: no-repeat;
    opacity: .8;
    pointer-events: none;
}

#parallax_layer3_7clouds {
    font-size: 20px;
    margin-top: 10000px;
    background-image: url("../images/7cloud.png");
    position: fixed;
    background-repeat: no-repeat;
width: 1600px;
height: 1600px;
    opacity: .5;
    pointer-events: none;
}

#parallax_layer3_8clouds {
    font-size: 20px;
    margin-top: 10000px;
    background-image: url("../images/7cloud.png");
    position: fixed;
    background-repeat: no-repeat;
    background-position: -300% 15%;
width: 1600px;
height: 1600px;
    opacity: .5;
    pointer-events: none;
}

#parallax_layer3_pop {
    font-size: 200px;
    margin-top: 13500px;
/* background-position: 0% 56%; */
    background-image: url("../images/wdraPop.png");
    position: fixed;
    background-repeat: no-repeat;
/*     background-position: -300% 15%;
width: 1600px;
height: 1600px; */

    pointer-events: none;
}
.clearfix {
  /*   overflow: auto; */
}

.clearfix:before, clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

#agency-Info-Head {
  margin-top: 20px;
  margin-bottom: 40px;
  color: white;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  border-style: solid;
}

#name {
  text-align: center;
  margin: 20px;
  text-decoration: underline;
  font-size: 80px;
    z-index: 10;
}

#sideInfo {
  text-align: center;
    z-index: 10;
}

.prev-next-btns {
  padding-left: 10rem;
}

#buttonInfoBento {
  border-radius: 25px;
  background-color: white;
  background: rgba(255, 255, 255, 0.3);
    z-index: 10;
}

#launchImg {
  text-align: center;
}

#buttonsAndInfo {
  padding-top: 15px;
  padding-left: 5px;
  border-radius: 25px;
  height: 50px;
  line-height: 50px;
  color: white;
  font-family: 'Roboto Slab', serif;
  text-align: left;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
  min-height: 600px;
  overflow-y: scroll;
   z-index: 10;
}

#agencyInfo {
  border-radius: 25px;
  float: left;
  color: yellow;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
  min-height: 282px;
    z-index: 10;
}

.launch-data {
  padding-left: 1rem;
}

#rocketInfo:link, #rocketInfo:visited {
  color: #fff;
  font-family: 'Roboto Slab', serif;
  text-align: left;
}

#rocketInfo:hover, #rocketInfo:active {
  color: #fff;
  font-family: 'Roboto Slab', serif;
  text-align: left;
}

#map {
  border-radius: 25px;
  float: right;
  background-image: url("../images/cartoonRocketLaunchingWithText.png");
  background-color: #efefef;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 20px;
  padding: 300px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  max-width: 100%;
  max-height: 100%;
  z-index: 10;
}
