#background {
  height: 7680px;
  width: 1280px;
  margin: 0 auto;
  background-image: url("../rocketAtBackgroundMoon.jpg");
}

#parallax_layer1 {
  position: fixed;
  background: url(../Clouds-PNG-Pic.ng) no-repeat 400px 100px;
  opacity: .8;
  width: 100%;
  height: 100%;
}

#parallax_layer2 {
  position: fixed;
  background: url(../testsdit.png) no-repeat 100px 300px;
  opacity: .8;
  width: 100%;
  height: 1000px;
}

/* --------------------------------------------------------------------------------------------------------- */

#header{
  color: red;
outline-style: solid;
}

#map {
  float:right;
  color: red;
outline-style: solid;
  min-width: 200px;
  min-height: 200px;
  background-image: url("../assets/CapeCanaveralMap.jpg")
}
